In [1]:
from skcriteria import madm, mkdm

In [2]:
dm = mkdm(
        matrix=[[1, 0, 3], [0, 5, 6]],
        objectives=[max, max, max],
    )

ranker = madm.SAM()

result = ranker.rank(dm)

In [3]:
result

      A0  A1
Rank   2   1
[Method: SAM]

In [ ]:
print(repr(result))

In [ ]:
def __repr__(self):
    """rank.__repr__() <==> repr(rank)."""

    kwargs = {"show_dimensions": False}

    # retrieve the original string
    original_string = self._rank_df.to_string(**kwargs)

    # add dimension
    string = f"{original_string}\n[{result.method}]"

    return string

print(__repr__(result))

In [ ]:
result._rank_df.to_string?